#table-info{
    display: flex;
    flex-direction: column;
}
body{
    margin: 20px;
}
#table-content{
    align-items: center;
}

.cards-table{
    width: 1000px;
    align-items: center;
    border: 3px solid green;
    padding: 10px;
    border-collapse: separate;
    border-spacing: 20px 5px;
}

.nom, .categoria, .visites {
    text-align: center; 
}

#carouselExampleControls{
    width: 200px;
    height: 300px;
    margin: auto;
    padding-bottom: 10px;
}